<a href="https://colab.research.google.com/github/advinsuryavanshi/bookingTickets1.0/blob/main/spam_email.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dependencies

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

data collection and preprocessing

In [7]:
#loading data fromcsv to pd dataframe
raw_mail_data = pd.read_csv('/content/mail_data.csv')

In [8]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
raw_mail_data.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [10]:
raw_mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [11]:
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [13]:
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
mail_data.shape

(5572, 2)

In [15]:
#label encoding
#spam mail as 0 ; ham mail as 1;

mail_data.loc[mail_data['Category']=='spam','Category',] = 0
mail_data.loc[mail_data['Category']=='ham','Category',] = 1

In [16]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [17]:
#seperating the data as texts and label
X = mail_data['Message']

Y = mail_data['Category']

In [19]:
#train and test split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify =Y, random_state=3)

FEATURE EXTRATION 



----TRANSFORM THE TEXT DATA TO FEATURE VECTORS THAT CAN BE USED BY LRM

In [20]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english',lowercase='True')

In [21]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [22]:
#convert Y_train and Y_test as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [26]:
print(X_train_features,Y_train)

  (0, 0)	0.23628394623676158
  (0, 1657)	0.28101404009316056
  (0, 6468)	0.26793132631329497
  (0, 4557)	0.28101404009316056
  (0, 421)	0.25144905621529934
  (0, 4306)	0.26793132631329497
  (0, 5029)	0.17467075796896542
  (0, 2644)	0.28101404009316056
  (0, 1540)	0.17407870571957915
  (0, 6330)	0.24059246244542992
  (0, 3627)	0.25144905621529934
  (0, 3113)	0.28101404009316056
  (0, 1193)	0.22908400928709988
  (0, 1857)	0.17073786814794129
  (0, 3806)	0.28101404009316056
  (0, 2353)	0.28101404009316056
  (1, 4076)	0.1543395674723974
  (1, 5416)	0.28967873139399253
  (1, 6977)	0.1293522168838017
  (1, 765)	0.21147006367289747
  (1, 1068)	0.1771111381363262
  (1, 3089)	0.13752009582621935
  (1, 3961)	0.20073435617244362
  (1, 3828)	0.13684128003316173
  (1, 2113)	0.19851614641109666
  :	:
  (4456, 3913)	0.23883125341667502
  (4456, 2138)	0.23883125341667502
  (4456, 6568)	0.23883125341667502
  (4456, 6646)	0.22771237505351186
  (4456, 5447)	0.2198234053076842
  (4456, 4878)	0.2137042449780485
  (4456, 5420)	0.19758564858135794
  (4456, 4765)	0.1730749026661772
  (4456, 2690)	0.19758564858135794
  (4456, 2236)	0.17068883072653956
  (4456, 1290)	0.1566807006510762
  (4456, 4975)	0.15534275099802256
  (4456, 1571)	0.1695693884304312
  (4456, 3362)	0.13296028402451
  (4456, 5430)	0.2902170940779003
  (4456, 3147)	0.11213756070741854
  (4456, 4120)	0.11213756070741854
  (4456, 7434)	0.1566807006510762
  (4456, 3262)	0.16745892210920407
  (4456, 2414)	0.17857780047236718
  (4456, 7339)	0.13767285254208542
  (4456, 5091)	0.1743505991070133
  (4456, 3748)	0.1028335575523561
  (4456, 3828)	0.1128214497218694
  (4456, 3982)	0.11453591597456492 3501    0
617     1
475     1
5535    1
4747    1
       ..
4402    1
3615    1
4763    1
4339    1
1827    1
Name: Category, Length: 4457, dtype: int64

training the LRM model

In [27]:
model = LogisticRegression()

#training the LRM with X_TRAIN_FEATUES AND y_TRAIN

model.fit(X_train_features,Y_train)

LogisticRegression()

evaluting the trained model

In [29]:
#prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_prediction_on_training_data = accuracy_score(prediction_on_training_data,Y_train)

print(accuracy_prediction_on_training_data )

0.9670181736594121

In [31]:
#prediction on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_prediction_on_test_data = accuracy_score(prediction_on_test_data,Y_test)

print(accuracy_prediction_on_test_data )

0.9721973094170404

making a predictive system

In [32]:
input_mail = ["FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, Â£1.50 to rcv"]

#convert test to feacture vector

input_mail_as_feature_vector = feature_extraction.transform(input_mail)

#making prediction

prediction = model.predict(input_mail_as_feature_vector)

if(prediction[0]==1):
  print('spam mail')
else:
  print('not a spam mail')

spam mial